---
layout: archive
title: "Bits & Pieces"
permalink: /bits-and-pieces/
---

{% include base_path %}

<p>Here I will compile bits and pieces of thoughts, readings, sounds and noises. Currently, I am interested in two research topics.</p>

<ol>
  <li>Technoscientific governance of environmental noise/A Public Hearing of Enivronmental Noise</li>
  <li>What is a project? (17th century projectors to the 21st century construction apparatus [by way of project management techniques])</li>
</ol>

<div>
  {% for post in site.posts %}
    {% include archive-bit.html %}
  {% endfor %}
</div>
