{% include base_path %}

<div class="footer-icons">
  <a href="" target="_blank"><i class="fab fa-linkedin-in circle-icon"></i></a>
  <a href="https://twitter.com/bmommersteeg" target="_blank"><i class="fab fa-twitter circle-icon"></i></a>
  <a href="https://www.researchgate.net/profile/Brett-Mommersteeg" target="_blank"><i class="fab fa-researchgate circle-icon"></i></a>
  <a href="https://manchester.academia.edu/BrettMommersteeg" target="_blank"><i class="fas fa-graduation-cap circle-icon"></i></a>
  <div class="circle-icon circle-img" ><img class="circle-icon" src="/images/site-logo.png"></div>
</div>
